// Переменные для цветов
$color-dark-gray: #343434;
$color-light-green: #44a047;
$color-white: #FFFFFF;
$color-dark-blue: #2c5871;
$color-dark-cyan: #0f303f;
$color-light-gray: #ECEEEB;
$color-lime: #9DC11A;
$color-light-lime: #b3dc1e;
$color-green-hover: #6dd771;
$color-black: #000000;
$color-orange: #f99a1d;
$color-translucent-black: rgba(0, 0, 0, .3);
$color-overlay: rgba(7, 78, 88, 0.8);
$color-translucent-gray: rgba(49, 54, 54, 0.5);
$color-footer-bg: rgba(35, 46, 62, 0.85);
$color-error-red: rgb(253, 83, 83);

// Переменные для медиа-запросов
$mobile: 375px;
$tablet: 768px;
$big-tablet: 1024px;
$desktop: 1440px;
$large-desktop: 1560px;
