@import "./scss/abstracts/variables.scss";

// $mobile: 375px;
// $tablet: 768px;
// $big-tablet: 1025px;
// $desktop: 1280px;
// $large-desktop: 1560px;

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto 100';
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: 'Roboto 300';
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: 'Roboto 400';
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
    font-family: 'Roboto 400', sans-serif;
    color: $color-dark-gray;
    line-height: 1.5;
    max-width: 1560px;
    margin: 0 auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo {
    font-size: clamp(20px, 3vw, 28px);
    vertical-align: baseline;
    text-transform: uppercase;

    & span {
        font-size: clamp(20px, 3vw, 28px);
        background-color: $color-light-green;
        color: $color-white;
        border-radius: 7px;
        margin-left: -5px;
    }
}

button {
    cursor: pointer;
    color: $color-white;
    border: none;
    text-align: center;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: $color-translucent-black;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 414px;
    padding: 45px;
    z-index: 3;
    background-color: $color-light-gray;
    border-radius: 0.45rem;
    margin: 30px 15px;
    transform: scale(0);
    transition: transform .8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 500px) {
        max-width: 300px;
        margin: 0;
        padding: 10px;
    }
}

.modal__close-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill .4s;
    stroke-width: 1.5px;
}

.modal__close-btn:hover svg:hover path {
    stroke: #8cac18;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1); 
}

.modal__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__title {
    color: $color-dark-gray;
    font-size: clamp(25px, 3vw, 34px);
    font-family: 'Roboto 300', sans-serif;
    padding-bottom: 20px;
}

.modal__input {
    width: 294px;
    height: 53px;
    background-color: $color-white;
    color: $color-dark-gray;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Roboto 100', sans-serif;

    @media (max-width: 500px) {
        width: 250px;
    }

    &::placeholder {
        color: $color-dark-gray;
        caret-color: $color-dark-gray;
        caret-shape: inherit;
    }

    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.modal__button {
    background-color: $color-lime;
    width: 315px;
    border-radius: 5px;
    padding: 23px;
    text-transform: uppercase;
    font-size: 20px;

    &:hover {
        background-color: $color-light-lime;
    }

    @media (max-width: 500px) {
        width: 250px;
    }
}

.header .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 25px;
    font-family: 'Roboto 300', sans-serif;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    @media (max-width: 400px) {
        margin-bottom: -50px;
    }
}

.title {
    font-size: clamp(14px, 5vw, 18px);
    max-width: 350px;

    @media (max-width: 400px) {
        text-align: center;
        gap: 15px;
        outline: 1px solid $color-light-green;
    }
}

.callRequest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.1;

    & p {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
        font-size: clamp(14px, 2.5vw, 24px);
        margin-bottom: 5px;
    }
}

.callRequest__order {  
        cursor: pointer;
        color: $color-light-green;
        font-size: 14px;
    
        &:hover {
            color: $color-green-hover;
        }
}

.callRequest__phoneLink {
    text-decoration: none;
    color: $color-dark-gray;
    cursor: auto;
}

.main-content .container {
    background-image: url(../images/main-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    transition: background-position 0.5s;
    padding: 200px 0px 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: 768px) {
        background-position: right;
        padding: 150px 0px 50px 0;
    }

    @media (max-width: 400px) {
        padding: 170px 10px 50px 10px;
        background-position: -600px 50px;
    }
}


.main-content_title {
    font-family: 'Roboto 300', sans-serif;
    font-size: clamp(30px, 5vw, 42px);
    margin-bottom: 50px;
    font-weight: 300;
}

.main-content_button {
    width: 306px;
    height: 63px;
    padding: 0 11.8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $color-white;
    font-size: 22px;
    box-sizing: border-box;
    line-height: 63px;
    background-color: $color-lime;
    border-radius: 7px;
}

.workWithUs .container {
    display: flex;
    justify-content: space-between;
    background-color: #f7fbf2;

    @media (max-width: 640px) {
        justify-content: center;
    }
}

.workWithUs img {
    max-width: 370px;
    padding: 20px 10px 0 0;
    @media (max-width: 640px) {
        display: none;
    }
}

.workWithUs__aside {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @media (max-width: 510px) {
        padding: 10px;
        margin-top: 0;
    }
}

.workWithUs__aside_title {
    line-height: 38px;
    font-size: clamp(25px, 2.5vw, 38px);
    font-family: 'Roboto 300', sans-serif;
    font-weight: 300;
    margin-bottom: clamp(7px, 2vw, 20px);
}

.workWithUs__aside_main > ul {
    list-style-type: none;
    font-family: 'Roboto 300', sans-serif;
    font-size: clamp(14px, 2vw, 16px);
    max-width: 83.5%;

    & li {
        position: relative;
        padding-left: 40px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    & li::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        border: 2px solid $color-light-green;
        border-radius: 50%;
        background-color: $color-white;
    }

    & li:nth-child(2),
    li:nth-child(3) {
        font-family: 'Roboto 400', sans-serif;
    }
}

.workWithUs__aside_footer {
    line-height: 27px;
    font-size: 24px;
    font-family: 'Roboto 300', sans-serif;
    max-width: 450px;
}

.trustUs .container {
    margin-bottom: clamp(15px, 2vw, 30px);
}

.trustUs h2 {
    text-align: center;
    color: $color-dark-blue;
    font-size: clamp(30px, 2vw, 50px);
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;
    margin: 25px 0 25px 0;
}

.trustUs__benefits img {
    max-width: 75px;
    margin-right: 10px;
}

.trustUs__benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    @media (max-width: 878px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 633px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.trustUs__benefits-item {
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 5px;
    margin-bottom: 10px;
    color: $color-dark-cyan;
}

.trustUs__benefits-item-header {
    display: flex;
    margin-bottom: 10px;
    align-items: center;

    & p {
        line-height: 1.16;
        font-size: clamp(20px, 3vw, 26px);
    }
}

@media (min-width: 878px) {
    .trustUs__benefits_item:nth-child(1) .item__header p {
        height: 90px;
    }
}

.trustUs__benefits_item:nth-child(5) .item__header p,
.trustUs__benefits_item:nth-child(6) .item__header p {
    font-size: 22px;
}

.trustUs__benefits-item-footer {
    line-height: 1.43;
    font-size: 18px;
}

.request {
    background-image: url(../images/underwater.jpg);
    background-size: cover;
    position: relative;
}

.request::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
    z-index: 1;
}

.request h3 {
    color: $color-white;
    position: relative;
    z-index: 2;
    text-align: center;
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;
    font-size: clamp(23px, 5vw, 36px);
    padding: 20px 0 20px 0;

    & span {
        font-size: clamp(17px, 5vw, 30px);
    }
}

.request__form {
    position: relative;
    z-index: 2;
    padding-bottom: 10px;
}

.form__body {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0 5px 40px 5px;
    color: $color-white;

    @media (max-width: 880px) {
        flex-direction: column;
        gap: 25px;
    }
}

.modalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @media (max-width: 500px) {
        flex-direction: column;
        gap: 15px;
    }
}

.form__body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    background:  transparent url('../images/loading.gif') center / 9rem no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}

._error {
    box-shadow: 0 0.3rem 0.9rem rgba(78, 55, 55, 0.37),
        inset 0 0.3rem 1.9rem rgba(255, 6, 6, 0.503);
    transition: 1s ease 0s;
}

#message, #messageModal {
    font-size: 0.9em;
    text-align: center;
    font-weight: 800;
    color: $color-error-red;
    padding-top: 5px;
    @media (max-width: 355px) {
        font-size: 12px;
        padding-top: 10px;
    }
}

.form__input_mainForm, .form__button_mainForm {
    background-color: transparent;
    border-radius: 30px;
    width: 434px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    color: white;
}

.form__input_mainForm {
    border: 2px solid #1695a4;
    max-width: 438px;
    max-height: 51px;
    margin-bottom: 10px;
    font-size: 17px;
    caret-color: $color-white;
    padding-left: 48px;
    color: white;

    @media (max-width: 520px) {
        max-width: 290px;
    }
    @media (max-width: 355px) {
        max-width: 220px;
        padding-left: 35px;
    }
}

.form__input_mainForm::placeholder {
    color: white;
    font-size: 17px;
    z-index: 2;
}

.form__input_mainForm:focus {
    border-color: rgba(83, 167, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(83, 167, 236, 0.075), 0 0 8px rgba(83, 167, 236, 0.8);
    outline: none;
}

.form__button_mainForm {
    border: 2px solid $color-black;
    color: $color-white;
    font-size: clamp(14px, 2vw, 20px);
    text-transform: uppercase;
    max-width: 338px;
    height: 51px;
    text-align: center;
    cursor: pointer;

    & span {
        font-size: clamp(14px, 2vw, 25px);

    }

    @media (max-width: 355px) {
        max-width: 250px;
    }
}

.form__button_mainForm:hover {
    & span {
        color: orange;
    }
}

.weAre {
    background-color: #EEEEEE;
    color: $color-dark-cyan;
}

.weAre h2 {
    text-align: center;
    font-size: 55px;
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;
    margin-bottom: 15px;
}

.weAre img {
    max-width: 352px;
    max-height: 352px;

    @media (max-width: 355px) {
        width: 300px;
        height: 300px;
    }
}

.weAre__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 548px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }   
}

.weAre__content_text {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Roboto 300', sans-serif;
    font-weight: 300;
    padding: 0 10px 0 10px;

    ul {
        padding: 25px 0 0 20px;
        margin-bottom: 45px;
    }

    p {
        @media (max-width: 548px) {
            text-align: center;            
    }
}
}

.questions {
    background-image: url(../images/grey-background.jpg);
    background-size: cover;
    position: relative;
}

.questions::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-translucent-gray;
    z-index: 1;
}

.questions .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions h2,
.questions h3 {
    text-align: center;
    color: $color-white;
    line-height: clamp(30px, 5vw, 53px);
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;
    z-index: 2;
}

.questions h2 {
    font-size: clamp(30px, 3vw, 50px);
    padding: clamp(20px, 5vw, 50px) 0 clamp(10px, 2.5vw, 20px) 0;
}

.questions h3 {
    font-size: clamp(18px, 3vw, 30px);
    padding-bottom: clamp(30px, 4vw, 50px);
}

.questions__button {
    z-index: 2;
    background-color: $color-orange;
    max-width: 420px;
    border-radius: 12px;
    font-size: clamp(20px, 3vw, 28px);
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;
    line-height: clamp(40px,3vw, 67px);
    padding: clamp(5px, 3vw, 10px);
    margin-bottom: 30px;

    @media (max-width: 355px) {
        width: 80%;
    }
}

.footer {
    background-color: $color-footer-bg;
    color: $color-white;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 5px;
    gap: 50px;

    @media (max-width: 630px) {
        flex-direction: column;
        gap: 5px;
    }
}

.footer__logo {
    margin-right: 0;

    span {
        border-radius: 0;
    }
}

.footer__email {
    font-size: 18px;
}

.footer__address {
    font-size: clamp(16px, 2vw, 20px);
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;

    @media (max-width: 940px) {
        text-align: center;
    }
}
