* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto 100';
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: 'Roboto 300';
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: 'Roboto 400';
    src: url("../fonts/Roboto-Regular.ttf");
}

.form__body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/loading.gif) center / 9rem no-repeat;    
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}

body {
    font-family: 'Roboto 400', sans-serif;
    color: #343434;
    line-height: 1.5;
    max-width: 2000px;
    margin: 0 auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo {
    font-size: 28px;
    vertical-align: baseline;
    text-transform: uppercase;
    margin-right: 30px;

    & span {
        background-color: #44a047;
        color: #FFFFFF;
        border-radius: 7px;
        margin-left: -5px;
    }
}

button {
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    text-align: center;
}

.header .container {
    display: flex;
    align-items: flex-start;
    padding: 25px 10px;
    font-family: 'Roboto 300', sans-serif;
}

.title {
    font-size: 18px;
    width: 100%;
}

.callRequest {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.1;

    & p {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
        font-size: 24px;
        margin-bottom: 5px;
    }

    & a {
        cursor: pointer;
        color: #44a047;
        font-size: 14px;
    }

    & a:hover {
        color: #6dd771;
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 414px;
    padding: 45px;
    z-index: 3;
    background-color: #ECEEEB;
    border-radius: 0.45rem;
    margin: 30px 15px;
    transform: scale(0);
    transition: transform .8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.modal__close-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill .4s;
    stroke-width: 1.5px;
}

.modal__close-btn:hover svg:hover path {
    stroke: #8cac18;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}

.modal__title {
    color: #343434;
    font-size: 34px;
    font-family: 'Roboto 300', sans-serif;
}

.modal__input {
    width: 294px;
    height: 53px;
    background-color: #FFFFFF;
    color: #343434;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Roboto 100', sans-serif;

    &::placeholder {
        color: #343434;
        caret-color: #343434;
        caret-shape: inherit;
    
    }

    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
}


.modal__button {
    background-color: #9DC11A;
    width: 315px;
    border-radius: 5px;
    padding: 23px;
    text-transform: uppercase;
    font-size: 20px;

    &:hover {
        background-color: #b3dc1e;
    }
}

.main-content .container {
    background-image: url(../images/main-image.jpg);
    background-size: cover;
    height: 637px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-content_title {
    font-family: 'Roboto 300', sans-serif;
    font-size: 42px;
    margin-bottom: 50px;
    font-weight: 300;
}

.main-content_button {
    width: 306px;
    height: 63px;
    padding: 0 11.8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 22px;
    box-sizing: border-box;
    line-height: 63px;
    background-color: #9cc11a;
    border-radius: 7px;
}

.workWithUs .container {
    display: flex;
    padding: 20px;

}

.workWithUs img {
    width: 317px;
    height: 475px;
    margin-right: 140px;
}

.workWithUs__aside {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.workWithUs__aside_title {
    line-height: 38px;
    font-size: 38px;
    font-family: 'Roboto 300', sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
}

.workWithUs__aside_main > ul {
    list-style-type: none;
    font-family: 'Roboto 300', sans-serif;
    font-size: 16px;
    width: 83.5%;

    & li {
        position: relative;
        padding-left: 40px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    & li::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        border: 2px solid #44a047;
        border-radius: 50%;
        background-color: white;
    }

    & li:nth-child(2),
    li:nth-child(3) {
        font-family: 'Roboto 400', sans-serif;
    }
}

.workWithUs__aside_footer {
    line-height: 27px;
    font-size: 24px;
    font-family: 'Roboto 300', sans-serif;
    width: 450px;
}

.trustUs .container {
    margin-bottom: 30px;
}

.trustUs h2 {
    text-align: center;
    color: #2c5871;
    font-size: 50px;
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;
    margin: 25px 0 25px 0;
}

.trustUs__benefits img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.trustUs__benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.trustUs__benefits_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #0f303f;

}

.item__header {
    display: flex;
    margin-bottom: 10px;
    align-items: center;

    & p {
        line-height: 1.16;
        font-size: 26px;
    }
}

.trustUs__benefits_item:nth-child(3) .item__header p {
    font-size: 20px;
}

.trustUs__benefits_item:nth-child(5) .item__header p,
.trustUs__benefits_item:nth-child(6) .item__header p {
    font-size: 22px;
}

.item__footer {
    line-height: 1.43;
    font-size: 18px;
    margin-left: 10px;
}

.request {
    background-image: url(../images/underwater.jpg);
    background-size: cover;
    position: relative;
}

.request::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 78, 88, 0.8);
    z-index: 1;
}

.request h3 {
    color: #FFFFFF;
    position: relative;
    z-index: 2;
    text-align: center;
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;
    font-size: 36px;
    padding: 20px 0 20px 0;

    & span {
        font-size: 30px;
    }
}

.request__form {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 90px;
}

.form__body {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    color: #FFFFFF;
    max-width: 2560px;

}

.form__input_mainForm, .form__button_mainForm {
    background-color: transparent;
    border-radius: 30px;
    width: 434px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    color: white;

}

.form__input_mainForm {
    border: 2px solid #1695a4;
    width: 438px;
    height: 51px;
    margin-top: 20px;
    font-size: 17px;
    caret-color: #FFFFFF;
    padding-left: 48px;
    color: white;
}

.form__input_mainForm::placeholder {
    color: white;
    font-size: 17px;
    z-index: 2;
}

.form__input_mainForm:focus {
    border-color: rgba(83, 167, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(83, 167, 236, 0.075), 0 0 8px rgba(83, 167, 236, 0.8);
    outline: none;
}

.form__button_mainForm {
    border: 2px solid #000000;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    width: 338px;
    height: 51px;
    text-align: center;
    cursor: pointer;

    & span {
        font-size: 25px;
    }    
}

.form__button_mainForm:hover {
    & span {
        color: orange;
    }
}


.weAre {
    background-color: #EEEEEE;
    color: #0f313f;

}

.weAre h2 {
    text-align: center;
    font-size: 55px;
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;
}

.weAre img {
    width: 352px;
    height: 352px;
    margin-right: 50px;
}

.weAre__content {
    display: flex;
}

.weAre__content_text {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Roboto 300', sans-serif;
    font-weight: 300;

    ul {
        padding: 25px 0 0 20px;
        margin-bottom: 45px;
    }
}

.questions {
    background-image: url(../images/grey-background.jpg);
    background-size: cover;
    position: relative;
    margin-bottom: -95px;
    position: relative;
}

.questions::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 54, 54, 0.5);
    z-index: 1;
}

.questions .container {
    min-height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions h2,
.questions h3 {
    text-align: center;
    color: #FFFFFF;
    line-height: 53px;
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;
    z-index: 2;
}

.questions h2 {
    font-size: 50px;
    padding: 100px 0 20px 0;
}

.questions h3 {
    font-size: 30px;
    padding-bottom: 50px;
}

.questions__button {
    z-index: 2;
    background-color: #f99a1d;
    height: 67px;
    width: 420px;
    border-radius: 12px;
    font-size: 28px;
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;
    line-height: 67px;
}

.footer {
    background-color: rgba(35, 46, 62, 0.85);
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 50px;
}



.footer__logo {
    margin-right: 0;

    span {
        border-radius: 0;
    }  
}


.footer__email {
    font-size: 18px;
}

.footer__address {
    font-size: 20px;
    font-family: 'Roboto 100', sans-serif;
    font-weight: 100;
}